// general
$gs-gutters = 32px // default: 32px
$gs-columns = 12 // default: 12 columns
$gs-wrapper = 1392px + $gs-gutters // default: 1392px
//
$mq-mini = 531 // default: 531px
$mq-lite = 741 // default: 741px
$mq-full = 991 // default: 991px
$mq-wide = 1261 // default: 1261px
$mq-mega = 1641 // default: 1641px
//
// palette
$palette--wc = #FFFFFF
$palette--sb = #67686A
$palette--bc = #000000
//
$palette--1l = #F0F3F5
$palette--1a = #F2F6F9
$palette--1b = #E5EDF3
$palette--1c = #D3DAE0
$palette--1d = #C7CCD1
$palette--1e = #A7AEB2
$palette--1f = #9BA3A7
$palette--1g = #8F9AA3
$palette--1h = #909297
$palette--1k = #78848F
$palette--1i = #37474F
$palette--1j = #212530
//
$palette--2e = #D2ECFC
$palette--2a = #1DA1F2
$palette--2b = #1E88E5
$palette--2c = #3DA368
$palette--2d = #219653
$palette--2f = #d2ecfc4d
//
$palette--3a = #40D03D
$palette--3b = #E53935
$palette--3c = #3F51B5
$palette--3d = #354699
//
// fonts
$font-family--1a = 'Roboto', sans-serif
$font-family--2a = 'Courier New', monospace
//
$font-weight--1a = 400 // Roboto
$font-weight--1b = 700 // Roboto
//
$font-weight--2a = 400 // Courier New
$font-weight--2b = 700 // Courier New
//
$font-size--1d = 12px
$font-size--1a = 14px
$font-size--1e = 16px
$font-size--1b = 18px
$font-size--1f = 24px
$font-size--1c = 30px
//
$line-height--a = 14px
$line-height--1a = 1.334
$line-height--1b = 1.715
//
// core
@import "./core/core"
// content
@import "./content/buttons/buttons"
@import "./content/main/main"
//
// the correct order: third-party, basement, __elements, other folders
