$toolbar-height = 30px

.content
  padding 16px
  height: 'calc(100% - %s)' % $toolbar-height

.toolbar
  width 100%
  height $toolbar-height
  background-color $palette--1j
  display: flex;
  align-items: center;
  padding-left 8px

.side-nav-container
  position: absolute !important
  top: 0 !important
  left: 0 !important
  bottom: 0 !important
  right: 0 !important

.side-nav
  width 200px
  height 100%
  display: block;
  overflow: hidden;
  padding: 16px;

.menu-link
  cursor pointer

  &:hover
    background-color $palette--1d
