.main-button
  &:hover
    cursor: pointer
    border: none


.hamburger
  width: 24px;
  height: 24px;
  background-image  url("/assets/icons/menu-24px.svg")
  border-radius: 50%;

.add-button
  height 40px
