.main-button
  &:hover
    cursor: pointer
    background-color $palette--1c
    border: none


.main-button__image
  background-size: 16px
  background-repeat: no-repeat
  background-position: center;


.button-plus
  width: 24px;
  height: 24px;
  background-image  url("/assets/icons/add-24px.svg")
  border-radius: 50%;


.button-minus
  width: 24px
  height: 24px
  background-image url("/assets/icons/remove-24px.svg")
  border-radius: 50%;

.button-up
  width: 16px
  height: 16px
  background-image url("/assets/icons/keyboard_arrow_up-24px.svg")

.button-down
  width: 16px
  height: 16px
  background-image url("/assets/icons/keyboard_arrow_down-24px.svg")
